### ** Answering Top-Level Questions with Pandas Dataframes **

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('baseball_reference_2016_clean.csv')

changing data types

In [3]:
df['attendance'] = df['attendance'].astype(float)
df['date'] = pd.to_datetime(df['date'])
df['temperature'] = df['temperature'].astype(float)
df['wind_speed'] = df['wind_speed'].astype(float)

removing duplicate index

In [4]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

What game had the highest attendance in 2016?

In [5]:
df[df['attendance'] == df['attendance'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
358,54449.0,Chicago Cubs,0,13,8,2016-10-20,on grass,Night Game,Los Angeles Dodgers,1,...,89.0,7.0,out to Centerfield,Night,12,4.266667,post season,0,1,Loss
360,54449.0,Chicago Cubs,2,13,10,2016-10-19,on grass,Night Game,Los Angeles Dodgers,4,...,89.0,4.0,out to Rightfield,Night,12,3.966667,post season,0,1,Loss

What was the hottest game of the year?

In [6]:
df[df['temperature'] == df['temperature'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,0,...,101.0,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss

What was the coldest game of the year?

In [7]:
df[df['temperature'] == df['temperature'].min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,1,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

What was the longest game of the year?

In [8]:
df[df['game_hours_dec'] == df['game_hours_dec'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,2,...,68.0,0.0,NaN,In Dome,3,6.216667,regular season,0,1,Loss

What was the shortest game of the year?

In [9]:
df[df['game_hours_dec'] == df['game_hours_dec'].min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,0,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

How many games ended in a tie in the 2016 season?

In [10]:
df[df['home_team_runs'] == df['away_team_runs']].count()[1]

1

What was the last game played of the season?

In [11]:
df[df['date'] == df['date'].dt.date.max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
350,38104.0,Chicago Cubs,3,13,8,2016-11-02,on grass,Night Game,Cleveland Indians,1,...,69.0,7.0,from Left to Right,Cloudy,15,4.466667,post season,0,1,Loss

What game had the highest attendance?

In [12]:
df[df['attendance'] == df['attendance'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
358,54449.0,Chicago Cubs,0,13,8,2016-10-20,on grass,Night Game,Los Angeles Dodgers,1,...,89.0,7.0,out to Centerfield,Night,12,4.266667,post season,0,1,Loss
360,54449.0,Chicago Cubs,2,13,10,2016-10-19,on grass,Night Game,Los Angeles Dodgers,4,...,89.0,4.0,out to Rightfield,Night,12,3.966667,post season,0,1,Loss

What game had the lowest attendance?

In [13]:
df[df['attendance'] == df['attendance'].min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,0,...,54.0,11.0,from Left to Right,Overcast,4,2.316667,regular season,1,0,Win

What was the windiest game of the year?

In [14]:
df[df['wind_speed'] == df['wind_speed'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,0,...,58.0,25.0,out to Centerfield,Cloudy,16,3.633333,regular season,1,0,Win
2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,3,...,58.0,25.0,out to Rightfield,Cloudy,19,3.666667,regular season,1,0,Win

What was the highest scoring game of the year?

In [15]:
df[df['away_team_runs'] + df['home_team_runs'] == 29]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,1,...,76.0,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss

What game had the most errors?

In [16]:
df['total_errors'] = df['away_team_errors'] + df['home_team_errors']
df[df['total_errors'] == df['total_errors'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_errors
1412,30955.0,New York Yankees,3,8,2,2016-07-04,on grass,Day Game,Chicago White Sox,4,...,3.0,from Right to Left,Unknown,10,3.1,regular season,1,0,Win,7

What game had the most runs?

In [17]:
df[df['total_runs'] == df['total_runs'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_errors
1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,1,...,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss,2

How many games played by each team are in this dataset?

In [18]:
df['away_team'].value_counts() + df['home_team'].value_counts()[1]

Chicago Cubs                     179
Los Angeles Dodgers              176
Cleveland Indians                176
Toronto Blue Jays                174
San Francisco Giants             173
Boston Red Sox                   172
Washington Nationals             172
Baltimore Orioles                171
Texas Rangers                    171
Tampa Bay Rays                   170
Houston Astros                   170
New York Mets                    170
Cincinnati Reds                  170
Pittsburgh Pirates               170
Colorado Rockies                 170
Minnesota Twins                  170
Arizona Diamondbacks             170
Philadelphia Phillies            170
Miami Marlins                    170
San Diego Padres                 170
Kansas City Royals               170
St. Louis Cardinals              170
Seattle Mariners                 170
Oakland Athletics                170
Milwaukee Brewers                170
Los Angeles Angels of Anaheim    170
Detroit Tigers                   170
New York Yankees                 170
Chicago White Sox                170
Atlanta Braves                   169
Name: away_team, dtype: int64

Which team won the most games in 2016?

*create a dataframe for regular season games*

In [19]:
reg_season = df[df['season'] == 'regular season']

*create a dataframe for regular season wins*

In [20]:
reg_wins = pd.DataFrame(reg_season[reg_season['home_team_runs'] > reg_season['away_team_runs']]['home_team'].value_counts() + reg_season[reg_season['home_team_runs'] < reg_season['away_team_runs']]['away_team'].value_counts())
reg_wins.set_axis(['wins'], axis='columns')
reg_wins.index.name = 'team'
reg_wins.sort_values(by = 'wins', ascending=False).head(1)

/Users/charlieyaris/.venvs/lpthw/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_axis currently defaults to operating inplace.
This will change in a future version of pandas, use inplace=True to avoid this warning.

              wins
team
Chicago Cubs   103

Which team won the most home games in 2016?

*create a dataframe for regular season home wins*

In [21]:
reg_home_wins = pd.DataFrame(reg_season[reg_season['home_team_runs'] > reg_season['away_team_runs']]['home_team'].value_counts())
reg_home_wins.set_axis(['home_wins'], axis='columns')
reg_home_wins.index.name = 'team'
reg_home_wins.sort_values(by = 'home_wins', ascending=False).head(1)

/Users/charlieyaris/.venvs/lpthw/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_axis currently defaults to operating inplace.
This will change in a future version of pandas, use inplace=True to avoid this warning.

              home_wins
team
Chicago Cubs         57

Which team lost the most games in 2016?

*create a dataframe for regular season losses*

In [22]:
reg_losses = pd.DataFrame(reg_season[reg_season['home_team_runs'] < reg_season['away_team_runs']]['home_team'].value_counts() + reg_season[reg_season['home_team_runs'] > reg_season['away_team_runs']]['away_team'].value_counts())
reg_losses.set_axis(['losses'], axis='columns')
reg_losses.index.name = 'team'
reg_losses.sort_values(by = "losses", ascending=False).head(1)

/Users/charlieyaris/.venvs/lpthw/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_axis currently defaults to operating inplace.
This will change in a future version of pandas, use inplace=True to avoid this warning.

                 losses
team
Minnesota Twins     103

Which team lost the most home games in 2016?

*create a dataframe for regular season home losses*

In [23]:
reg_home_losses = pd.DataFrame(reg_season[reg_season['home_team_runs'] < reg_season['away_team_runs']]['home_team'].value_counts())
reg_home_losses.set_axis(['home_losses'], axis='columns')
reg_home_losses.index.name = 'team'
reg_home_losses.sort_values(by = 'home_losses', ascending=False).head(1)

/Users/charlieyaris/.venvs/lpthw/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_axis currently defaults to operating inplace.
This will change in a future version of pandas, use inplace=True to avoid this warning.

                 home_losses
team
Minnesota Twins           51